#loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
#loading-image{
    z-index: 100;
}
#loading.fade-out{
    opacity: 0;
}
@media print{
    body{
        margin-top: 50px;
    }
    .noprint{
        display: none;
    }
    @page {
        size: auto;
        margin: 0mm;
    }
}